# SAMPLE FILE. Run `cp .env.sample .env` to move it into .env file and fill out all data
# Feel free to leave as is but I recommend to change values

# API
API_PORT="8080"

# DB
MYSQL_HOST="myapp_db:3306"
MYSQL_ROOT_PASSWORD="G)(7yPf2yo((@wr@9=!edkb2n42zxc"
MYSQL_DB_NAME=myapp_user 
MYSQL_USER_PASSWORD="s8M1bott%034!%%)1)Xjq/0o2(r+!n#qw1"
MYSQL_DB_NAME="myapp"
MYSQL_PORT="3306"