[mysqld]
general_log = 0
general_log_file = /var/lib/mysql/general.log
innodb_buffer_pool_size = 1G
innodb_redo_log_capacity = 512M
innodb_flush_method = fsync
max_connections = 20
thread_cache_size = 10
table_open_cache = 2000
slow_query_log = 1
slow_query_log_file = /var/lib/mysql/slow.log
long_query_time = 1
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci